.App {
  text-align: center;
  background-color: blueviolet;
  height: 100%;
}

.home{
  background-color: blue;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-weight: bold;
   text-align: center;
   color: black;
   height: 100%;
}
.contact{
  background-color: gray;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-weight: bold;
   text-align: center;
   color: black;
   height: 100%;
}
.about{
  background-color:green;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-weight: bold;
   text-align: center;
   height: 100%;
}
.branches{
  background-color: cyan;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-weight: bold;
   color: black;
   font-size: large;
   height: 100%;
}